.clients {
	padding-top: 140px;
	padding-bottom: 140px;
	background-color: #012f34;
	background-image: url("../img/clients-bg.png");
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-position: left calc(50% - 650px) top;
}
.clients__heading {
	margin: 0;
	margin-bottom: 64px;
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
	color: $white;
	text-align: center;
}
.clients__list {
	@include reset-list;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// responsive
@include breakpoint-down(768px) {
	.clients {
		padding-top: 100px;
		padding-bottom: 100px;
		background-position: left calc(50% - 300px) top -100px;
	}
	.clients__heading {
		margin-bottom: 48px;
		font-size: 32px;
		line-height: 32px;
	}
	.clients__logo {
		width: 100px;
	}
}

@include breakpoint-down(375px) {
	.clients {
		padding-top: 88px;
		padding-bottom: 88px;
	}
	.clients__container {
		padding-right: 24px;
		padding-left: 24px;
	}
	.clients__heading {
		margin-bottom: 64px;
	}
	.clients__list {
		flex-direction: column;
	}
	.clients__item:not(:last-child) {
		margin-bottom: 60px;
	}
	.clients__logo {
		width: auto;
		height: 20px;
	}
	.clients__logo:last-child {
		max-width: 100%;
		height: auto;	
	}
}