.contact {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #014e56;
	background-image: url("../img/contact-left-bg.png"), url("../img/contact-right-bg.png");
	background-repeat: no-repeat;
	background-size: 200px 200px, 200px 225px;
	background-position: top 100px left calc(50% - 750px), bottom right calc(50% - 750px);
}
.contact__container {
	display: flex;
}
.ask {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.ask__heading {
	margin-bottom: 16px;
	font-size: 64px;
	color: $white;
}
.ask__text {
	margin-bottom: 32px;
	font-size: 32px;
	line-height: 48px;
	color: $light-coral;
}
.ask__list {
	display: flex;
	flex-direction: column;
	@include reset-list;
}
.ask__item {
	display: flex;
	align-items: center;
}
.ask__item:not(:last-child) {
	margin-bottom: 30px;
}
.ask__item::before {
	flex-shrink: 0;
	content: "";
	width: 72px;
	height: 72px;
	margin-right: 23px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.ask__item-text {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	color: $white;
}
.message {
	width: 50%;
}
.message__form {
	width: 100%;
	max-width: 540px;
}
.message__group {
	padding-top: 24px;
}
.message__line {
	margin-top: 16px;
	display: block;
	width: 100%;
	height: 1px;
	background-color: $white;
}
.message__line::before {
	content: "This field is required";
	display: none;
	margin-top: 8px;
	font-size: 10px;
	line-height: 13px;
	font-weight: 700;
	font-style: italic;
	color: $light-coral;
}
.message__input {
	width: 100%;
	background-color: transparent;
	border: none;
	color: $white;
}
:not(output):-moz-ui-invalid {
  box-shadow: 0 0 1.5px 1px transparent;
}
input:invalid {
  box-shadow: 0 0 1.5px 1px transparent;
}
.message__input:not(:placeholder-shown):invalid + .message__line {
	background-color: $light-coral;
}
.message__input:not(:placeholder-shown):invalid {
	color: $light-coral;
}
.message__input:not(:placeholder-shown):invalid + .message__line::before {
	display: block;
}
.message__input:valid + .message__line {
	background-color: #79c8c7;
}
.message__input::placeholder {
	font-size: 15px;
	line-height: 25px;
	font-weight: 600;
	letter-spacing: -0.11px;
	color: $white;
}
.message__input:focus {
	outline: none;
}
.message__textarea {
	background-color: transparent;
	width: 100%;
	resize: vertical;
	min-height: 85px;
	border: none;
	color: rgb($white, 0.6);
}
.message__textarea + .message__line {
	margin-top: 0;
	margin-bottom: 24px;
}
.message__textarea:not(:placeholder-shown) + .message__line {
	background-color: #79c8c7;
}
.message__textarea:valid {
	color: $white;
}
.message__submit {
	padding: 7px 30px;
	color: #004047;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	background-color: $white;
	border: 2px solid $white;
	border-radius: 24px;
	cursor: pointer;
}
.message__submit:hover {
	background-color: #014e56;
	color: $white;
}

// responsive
@include breakpoint-down(768px) {
	.contact {
		padding-top: 112px;
		padding-bottom: 112px;
		background-position: top 100px left calc(50% - 380px), bottom right calc(50% - 380px);
	}
	.contact__container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.ask {
		width: 70%;
		margin-bottom: 65px;
	}
	.message {
		width: 75%;
	}
	.message__form {
		text-align: left;
	}
}

@include breakpoint-down(375px) {
	.contact {
		padding-top: 80px;
		padding-bottom: 88px;
		background-position: top 100px left calc(50% - 380px), bottom -100px right calc(50% - 180px);
	}
	.contact__container {
		padding-left: 24px;
		padding-right: 24px;
	}
	.ask {
		width: 100%;
		margin-bottom: 56px;
	}
	.ask__heading {
		font-size: 40px;
		line-height: 40px;
	}
	.ask__text {
		margin-top: 0;
	}
	.message {
		width: 100%;
	}
	.ask__item-text {
		text-align: left;
	}
}