.deliver {
	padding-top: 140px;
	padding-bottom: 140px;
	background-color: #004047;
	background-image: url("../img/deliver-right-bg.png"), url("../img/deliver-bottom-bg.png");
	background-position: top left calc(50% - 680px), bottom calc(50% - 360px) right calc(50% - 680px);
	background-size: 147px 100px, 200px 200px;
	background-repeat: no-repeat;
}
.deliver__heading {
	max-width: 930px;
	margin: 0 auto;
	margin-bottom: 92px;
	font-size: 48px;
	line-height: 48px;
	color: $white;
	text-align: center;
}
.deliver__list {
	@include reset-list;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.deliver__item {
	max-width: 350px;
}
.quote {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.quote::after {
	content: "";
	position: absolute;
	z-index: -1;
	display: inline-block;
	width: 67px;
	height: 56px;
	background-image: url("../img/quote.svg");
	bottom: 90%;
}
.quote__text {
	color: $white;
	margin: 0;
	margin-bottom: 24px;
	text-align: center;
}
.quote__name {
	margin-bottom: 2px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	color: #79c8c7;
}
.quote__company {
	margin-bottom: 32px;
	font-size: 13px;
	line-height: 18px;
	color: $white;
	font-weight: 500;
	font-style: italic;
	text-align: center;
}
.quote__img {
	border: 2px solid #c4fffe;
	border-radius: 50%;
}

// retina
@include retina() {
	.deliver {
		background-image: url("../img/deliver-right-bg@2x.png"), url("../img/deliver-bottom-bg@2x.png");
	}
}

// responsive
@include breakpoint-down(768px) {
	.deliver {
		padding-top: 100px;
		padding-bottom: 100px;
		background-position: top left calc(50% - 310px), bottom calc(50% - 665px) right calc(50% - 290px);
	}
	.deliver__container {
		padding-left: 95px;
		padding-right: 95px;
	}
	.deliver__heading {
		font-size: 32px;
		line-height: 32px;
	}
	.deliver__list {
		flex-direction: column;
		align-items: center;
	}
	.deliver__item {
		max-width: 573px;
		margin-bottom: 84px;
	}
	.quote__company {
		margin-bottom: 16px;
	}
	.quote::after {
		bottom: 95%;
	}
}