.site-header {
	padding-top: 75px;
	padding-bottom: 75px;
}
.site-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.site-header {
	background-color: $midnight-green;
}
.logo {
	flex-shrink: 0;
}
.logo__img {
	display: block;
}
.nav {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	transition: 0.3s ease all;
}
.nav-inner {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.nav__list {
	@include reset-list;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 60px;
}
.nav__item {
	margin: 0 20px;
}
.nav__link {
	text-decoration: none;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
	color: $white;
}
.nav__link:hover {
	color: $light-coral;
}
.site-header__contact {
	flex-shrink: 0;
}
.site-header__burger {
	flex-shrink: 0;
	position: relative;
	top: 56px;
	right: 24px;
	z-index: 100;
	padding: 0;
	border: none;
	display: none;
	width: 20px;
	height: 17px;
	background-color: transparent;
	background-image: url("../img/menu.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	cursor: pointer;
	transition: 0.3s ease all;
}

// responsive
@include breakpoint-down(768px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}
	.site-header {
		padding-top: 65px;
		padding-bottom: 65px;
	}
	.logo {
		width: 128px;
		height: 32px;
	}
	.nav__list {
		margin-left: 28px;
		margin-right: 28px;
	}
	.nav-inner {
		justify-content: flex-start;
	}
}

@include breakpoint-down(500px) {
	.contact-link {
		display: none;
	}
}

@include breakpoint-down(375px) {
	.site-header {
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.nav--dark {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
	}
	.nav-inner {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 11;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 66%;
		padding-top: 112px;
		padding-left: 48px;
		background-color: #2c6269;
		transform: translateX(260px);
		transition: all 0.3s ease;
	}
	.nav-inner--toggle {
		transform: translateX(0px);
	}
	.nav__list {
		flex-direction: column;
		margin: 0;
	}
	.nav__item {
		margin: 0;
		margin-top: 12px;
		margin-bottom: 12px;
	}
	.site-header__burger {
		display: block;
	}
	.contact-link {
		display: inline-block;
		margin-top: 24px;
	}
	.site-header__burger--close {
		position: fixed;
		background-position: top right;
	}
}