.ready {
	padding-top: 76px;
	padding-bottom: 76px;
	background-color: $light-coral;
	background-image: url("../img/ready-bg.png");
	background-repeat: no-repeat;
	background-position: left calc(50% - 680px) bottom -100px;
	background-size: 200px 244px;
}
.ready__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
	padding-right: 100px;
}
.ready__heading {
	margin: 0;
	font-size: 48px;
	line-height: 38px;
	color: #012F34;
}
.ready__button {
	flex-shrink: 0;
}

// responsive
@include breakpoint-down(768px) {
	.ready {
		background-position: left calc(50% - 300px) bottom -120px;
	}
	.ready__heading {
		font-size: 32px;
		line-height: 32px;
	}
}

@include breakpoint-down(375px) {
	.ready {
		padding-top: 83px;
		padding-bottom: 83px;
		background-position: left calc(50% - 95px) bottom -120px;
	}
	.ready__container {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-left: 24px;
		padding-right: 24px;
	}
	.ready__heading {
		margin-bottom: 24px;
	}
}
